@import "../../SCSS/main.scss";




header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 110px;

   
    .headerContainer{

        width: 100%;margin: auto;max-width: 1700px; box-sizing: border-box; padding: 20px 150px;
    

        
        .header{
     
            .top_row{
                @include flex;grid-gap: 4%;

                .head_logo{
                    max-width: 210px;
                    img{
                        width: 100%;
                    }

                    a{
                        display: block;
                    }

                }
                .header_buttons {
                    
                    .button_block{

                        .btn-primary
                        {
                            grid-gap: 8px;
                        }
                        :nth-child(2){
                            background-color: transparent;
                            color: white;
                            border: 1px solid white;
                        }
                        :nth-child(2)::before
                         {
                            content:url('../../images/registericon.png');
                            margin-bottom: -8px;
            
                        
                         }

                         :nth-child(3)::before
                         {
                            content:url('../../images/Seat\ icon.png');
                            margin-bottom: -8px;
                            
                     
                        
                         }
                    }
                }
            }


            .nav_block{
                padding: 25px 0px;
                .navigation{    
                  .menu_icon{
                    .hamburger-react {
                        color: white
                    }
                  }  
                    .nav{
                     
                        .mobile-nav{
                            background: #2C897E;
                            width: 100%;
                            padding: 10px 10px;
                            .mobile-nav-bar{
                                @include flex; flex-direction: column;align-items: flex-start; grid-gap:30px;padding-left: unset;  
                                .mobile-nav-list{
                                    .mobile-nav-item{
                                        color: white;font-weight: 300;font-size: 15px;text-decoration: none;transition: .3s ease-in-out; display: inline-block;
                                    }
                                }
                            }
                        }

                        .nav_bar{
                            @include flex; justify-content: center; grid-gap:30px;padding-left: unset;  
                            .nav_list{          
                                    .nav_item{     
                                        color: white;font-weight: 300;font-size: 15px;text-decoration: none;transition: .3s ease-in-out; display: inline-block;
                                        &:hover{
                                            color: #2C897E;
                                        } 
                                    }

                                   
                                
                            }
                        }
                    }
                }

             
            }
        }
          
            .navborder{
                background-color: var(--secondary-color);
              
            }
           
    

       

    }

 

    


    
   


   
}


@media screen and (min-width:200px) and (max-width:1024px){ 
  
    header{

    
       
        .headerContainer{
    
    
            
            .header{
                .nav_block{
                    .navigation{    
                    //
                }

               
            }

            }
        }
    }

}

@media screen and (min-width:200px) and (max-width:767px){ 
     


    header{

        padding: 25px 10px;
       
        .headerContainer{
    
            width: 100%;margin: auto;max-width: 1700px; box-sizing: border-box;padding: 10px 10px;
    
            
            .header{
         
                .top_row{
               flex-wrap: wrap;
               .head_logo{
          
                img{
                    width: 70%;
                }

              

            }
                }
            
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {

    header{

        padding: 25px 10px;
    .headerContainer{
    
        width: 100%;margin: auto;max-width: 1700px; box-sizing: border-box;  padding: 10px 10px;

        
        .header{
     
            .top_row{
           flex-wrap: wrap;
           .head_logo{
      
            img{
                width: 80%;
            }

          

        }
            }
        
        }
    }
} 
    

}

@media screen and (min-width:1025px) and (max-width:1400px) {

    header{

        padding: 25px 10px;
    .headerContainer{
    
        width: 100%;margin: auto;max-width: 1700px; box-sizing: border-box; padding: 20px 40px;

        
        .header{
     
            .top_row{
           flex-wrap: wrap;
           .head_logo{
      
            img{
                width: 80%;
            }

          

        }
            }
        
        }
    }
} 
    

}